.homeContainer {
  grid-row: line2 / line3;
  grid-column: 3 / span 10;
  padding: 10px;
}

.itemContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 0px auto;
}

.loadingContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loadingContainer .wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.wrapper p {
  font-size: 18px;
  color: grey;
  text-align: center;
  margin-top: 10px;
}

.errorContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.errorContainer div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.errorContainer div p {
  margin-top: 10px;
  font-size: 18px;
  color: gray;
  text-align: center;
}


@media screen and (max-width: 800px) {
  .homeContainer {
    grid-column: 1 / span 12;
  }
}